{{! ejercicio 1 }}

{{!-- <h1>{{titulo}}</h1>
<p>Hola, mi nombre es {{nombre}}.</p>

<p>Estoy participando en el curso {{curso}} en el año {{anio}}</p> --}}

{{! ejercicio 2 }}
<section class="card shadow-sm">
  <div class="card-body">
    <h1 class="card-title mb-3">
      Hola, mi nombre es
      {{persona.nombre}}
    </h1>
    <h5 class="card-subtitule mb-3">
      {{persona.profesion}}
    </h5>
    <p class="card-text">
      Vivo en
      {{persona.ciudad}}.
    </p>
    <p class="card-text">
      {{persona.descripcion}}
    </p>

    {{#if persona.disponible}}
      <div class="alert alert-success">
        Actualmente estoy disponible para nuevos proyectos
      </div>
    {{else}}
      <div class="alert alert-warning">
        Actualmente no estoy disponible para nuevos proyectos
      </div>
    {{/if}}
  </div>

</section>